/target/
Javaselenium/bin/
/.metadata/
/src/test/java/com/thd/projectname/utils/Dummy.java
.idea/workspace.xml
/src/test/resources/target/
src/test/resources/testdata/UI/CanadaHours.csv
src/test/resources/testdata/UI/SickBonusPay_Applied*.csv
.idea/workspace.xml
.idea/workspace.xml
src/test/resources/testdata/UI/CanadaHours.csv
.idea/workspace.xml
.idea/workspace.xml
.idea/shelf/Uncommitted_changes_before_Checkout_at_8_9_2022_12_52_PM__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Checkout_at_8_9_2022_12_52_PM_\[Changes\]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Checkout_at_8_19_2022_8_00_PM__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Checkout_at_8_19_2022_8_00_PM_\[Changes\]1/shelved.patch
.idea/shelf/Uncommitted_changes_before_Checkout_at_8_19_2022_8_00_PM_\[Changes\]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Checkout_at_8_19_2022_7_28_PM__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Checkout_at_8_19_2022_7_28_PM_\[Changes\]1/shelved.patch
.idea/shelf/Uncommitted_changes_before_Checkout_at_8_19_2022_7_28_PM_\[Changes\]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Checkout_at_8_17_2022_10_30_PM__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Checkout_at_8_17_2022_10_30_PM_\[Changes\]1/shelved.patch
.idea/shelf/Uncommitted_changes_before_Checkout_at_8_17_2022_10_30_PM_\[Changes\]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Checkout_at_2_20_2023_7_05_PM__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Checkout_at_2_20_2023_7_05_PM_\[Changes\]/shelved.patch
